<div class="container mt-3">
  <div class="row justify-content-md-center">
    <div class="col col-lg-6">
      <h2 class="text-center text-color-blue pb-3">
        Let's plan your <strong>saving goal.</strong>
      </h2>
      <div class="card pv-3 ph-3">
        <div class="row">
          <div class="col-md-1 col-sm-3">
            <img src="/assets/icons/home.svg" />
          </div>
          <div class="col-8">
            <h2>Buy a house</h2>
            <h4 class="text-color-grey">Saving goal</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
