<nav class="navbar bg-color-white pv-1-5 pv-md-1">
  <img src="assets/icons/brand.svg" class="ml-3-5 ml-sm-1" />
</nav>
<div class="container mt-3 mt-sm-2">
  <div class="row justify-content-md-center">
    <div class="col-lg-6 mobile-without-padding">
      <h2 class="text-center text-color-dark-blue pb-3 font-weight-normal">
        Let's plan your <strong>saving goal.</strong>
      </h2>
      <div class="card pv-3 ph-3 mb-3">
        <div class="row align-items-center">
          <img src="assets/icons/home.svg" class="col-md-2 col-3 pl-0" />
          <div class="col-8 px-0">
            <h3 class="font-family-rubik font-size-20">Buy a house</h3>
            <h5
              class="font-family-rubik font-size-14 text-color-grey font-weight-normal"
            >
              Saving goal
            </h5>
          </div>
        </div>
        <!-- Inputs -->
        <div class="row">
          <div class="col-md-7 mt-1 mobile-without-padding pl-0">
            <label for="total_amout">Total amount</label>
            <input type="text" id="male" />
          </div>
          <div class="col-md-5 mt-1 mobile-without-padding pr-0">
            <label for="reach_goal">Reach goal by</label>
            <input type="text" id="reach_goal" />
          </div>
        </div>
        <!-- Monthly -->
        <div
          class="row align-items-center mt-1-5 border-rounded-8 border-solid-1 border-color-light-grayish-blue"
        >
          <div class="col-8 pv-1-5">
            <h3
              class="font-family-work-sans font-size-20 font-size-sm-18 font-weight-normal"
            >
              Monthly amount
            </h3>
          </div>
          <div class="col-4">
            <h3
              class="font-family-rubik font-size-32 font-size-sm-24 font-weight-bold text-color-pure-blue text-right"
            >
              $521
            </h3>
          </div>
          <div class="col-12 bg-color-light-grayish-blue pv-1-5 ph-2">
            <p class="text-sm-center text-md-left font-size-12 font-size-sm-14">
              You’re planning <strong>48 monthly deposits</strong> to reach your
              <strong>$25,000</strong> goal by <strong>October 2020</strong>.
            </p>
          </div>
        </div>
        <!-- Button -->
        <div class="row align-items-center mt-2">
          <button class="btn display-block margin-auto">Confirm</button>
        </div>
      </div>
    </div>
  </div>
</div>
