<div class="container mt-3">
  <div class="row justify-content-md-center">
    <div class="col-lg-5 mobile-without-padding">
      <h2 class="text-center text-color-blue pb-3">
        Let's plan your <strong>saving goal.</strong>
      </h2>
      <div class="card pv-3 ph-3">
        <div class="row">
          <!-- <div class="col-3 col-sm-2">
                        <img src="/assets/icons/home.svg" />
                    </div> -->
          <img src="/assets/icons/home.svg" class="col-3 col-sm-3" />
          <div class="col-8 px-0">
            <h3 class="font-size-20">Buy a house</h3>
            <h5 class="font-size-14 text-color-grey">Saving goal</h5>
          </div>
        </div>
        <!-- Inputs -->
        <div class="row">
          <div class="col-md-8 mt-1">
            <label for="total_amout">Total amount</label>
            <input type="text" id="male" />
          </div>
          <div class="col-md-4 mt-1">
            <label for="reach_goal">Reach goal by</label>
            <input type="text" id="reach_goal" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
