$brandColorPrimary: #1b31a8;
$brandColorSecondary: #0079ff;
$blueGray10: #f4f8fa;
$blueGray50: #e9eef2;
$blueGray400: #708797;
$blueGray600: #4d6475;
$grey: #cccccc;
$greyLight: #666666;
$neutralWhite: white;
