@import url("https://fonts.googleapis.com/css2?family=Work+Sans");
@import url("https://fonts.googleapis.com/css2?family=Rubik");
@import "./app/shared/styles/card.scss";
@import "./app/shared/styles/grid.scss";
@import "./app/shared/styles/utilities.scss";
body {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  background: #f4f8fa;
  font-family: Work Sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

@media (max-width: 769px) {
  .mobile-without-padding {
    padding-left: 0;
    padding-right: 0;
  }
}
