@import url("https://fonts.googleapis.com/css2?family=Work+Sans");
@import url("https://fonts.googleapis.com/css2?family=Rubik");
@import "./app/shared/styles/variables.scss";
@import "./app/shared/styles/card.scss";
@import "./app/shared/styles/grid.scss";
@import "./app/shared/styles/utilities.scss";
body {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  background: $blueGray10;
  font-family: Work Sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

@media (max-width: 600px) {
  .ml-sm-1 {
    margin-left: 1rem !important;
  }
  .mt-sm-2 {
    margin-top: 2rem !important;
  }
  .mobile-without-padding {
    padding-left: 0;
    padding-right: 0;
  }
  .pv-md-1 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
}
